$theme-color1: #18c0d6;
$theme-color2:rgb(17, 27, 36);
$theme-color3:rgb(240, 240, 240);
$theme-color1-hover: #16a8bb;
$theme-box-shadow: rgba(153, 153, 153, 0.4);
$dropdown-box-shadow: rgba(85, 85, 85, 0.63);
$theme-gradient: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));