@import 'variables', 'mixins', 'fonts';

.box{
    border: 3px solid white;
    position: relative;
    height: 80vh;
    width: 90%;
    color: white;
    @include flex-center();
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, a, p{
    font-family: 'Montserrat', sans-serif;
}

video{
    position: absolute;
    z-index: -1;
    width: 100%;
}

#root{
    width: 100%;
    height: auto;
}

.d-navbar{
    width: 100%;
    height: 10vh;
    background-color: white;
    position: fixed;
    top: -20vh;
    transition: top .5s;
    z-index: 1000;
    box-shadow: 0 2px 8px $theme-box-shadow;
    #logo{
        height: 10vh;
        width: 396px;
        background-color: $theme-color1;
        float: left;
        @include flex-center;
    }
    nav ul .nav-link{
        margin-left: 30px;
    }
    nav ul li a{
        color: black;
    }
    .menu-icon{
        filter: none;
    }
    .enq-icon{
        img{
        filter:invert(100%);
        }
    }
    .dropdown ul li:hover a{
        color: white;
    }
}


.header-sec{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,0));
    video{
        width: 100%;
    }
    .menu-icon{
        height: 20px;
        width: 25px;
        filter: invert(100%);
    }
    header{
        height: 80vh;
        width: 100%;
        .box{
            @extend .box;
            h1{
                text-transform: uppercase;
                font-size: 8em;
                letter-spacing: 10px;
                font-weight: 700;
            }
            h2{
                font-size: 2em;
                position: relative;
                top: 50px;
                letter-spacing: 2px;
            }
            .down-icon{
                position: relative;
                height: 24px;
                width: 24px;
                filter: invert(100%);
                top: 70px;
                animation: updown 1.5s ease-in-out infinite;
            }
            animation: box-expand 1.5s ease-in-out forwards;
        }
    }
}

@keyframes box-expand{
    0%{
        height: 0;
        width: 0;
    }
    15%{
        height: 0;
        width: 0;
    }
    50%{
        height: 100%;
        width: 0;
    }
    100%{
        height: 100%;
        width: 90%;
    }
}

@keyframes updown{
    0%{
        top: 70px;
    }
    50%{
        top: 80px;
    }
    100%{
        top: 70px;
    }
}

header{
    @include flex-center();
}

nav
{
    height: 10vh;
    width: 90%;
    margin-left: 5%;
    .nav-links
    {
        float: left;
        width: 50%;
        height: 100%;
        .menu-icon{
            height: 20px;
            width: 20px;
        }
    }
    ul 
    {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: left;
        align-items: center;
        li
        {
            margin-right: 40px;
            padding: 10px 0px;
            cursor: pointer;
            position: relative;
            &::after
            {
                content: '';
                display: block;
                position: relative;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                left: 50%;
                background-color: white;
                transition: .2s ease-in-out;
                
            }
            &:hover::after
            {
                width: 100%;
            }
            a
            {
                color: white;
                font-weight: 300;
            }
            &:hover .dropdown
            {
                opacity: 1;
                pointer-events: all;
                top: 100%;
                left: 0;
            }
        }
    }
    .info{
        float: right;
        width: 50%;
        height: 100%;
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .enq-icon{
                height: 25px;
                width: 25px;
                filter: invert(100%);
            }
            li{
                padding: 0px;
            }
        }
    }
}

.dropdown{
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 150%;
    box-shadow: 0 0 10px $dropdown-box-shadow;
    width: 200px;
    height: 300px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in-out;  
    ul{
        @include flex-center();
        width: 100%;
        height: 100%;
        flex-direction: column;
        li{
            margin: 0;
            padding: 0;
            @include flex-center();
            height: 100px;
            width: 100%;
            transition: background-color .15s ease-in-out;
            &::after{
                content: none;
            }
            a{
                @include flex-center();
                color: $theme-color1-hover;
                height: 100%;
                width: 100%;
            }
            &:hover{
                background-color: $theme-color1-hover;
                a{
                    color:white;
                }
            }
        }
    }
}
.sec{
    height: 90vh;
    width: 100%;
    position: relative;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(230, 230, 230);
    h1{
        font-size: 2em;
        letter-spacing: 3px;
        color: $theme-color2;
        &::after{
            content: '';
            display: block;
            height: 10px;
            position: relative;
            left: 50%;
            top: 25px;
            transform: translateX(-50%);
            width: 35%;
            background-color: $theme-color1;
        }
    }
    h2{
        color: $theme-color2;
    }
    p{
        font-size: 1.1em;
        text-align: center;
    }
    .container{
        display: flex;
        margin: 50px 0;
        height: 500px;
        width: 60%;
        overflow: hidden;
        img{
            width: 40%;
        }
        .text{
            width: 60%;
            height: 100%;
            @include flex-center();
            flex-direction: column;
            h1{
                margin-bottom: 40px;
                font-size: 3em;
                &::after{
                    top: 20px;
                }
            }
            h3{
                margin-top: 40px;
                a{
                    color: $theme-color2;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .down-btn{
                position: relative;
                height: 50px;
                width: 50px;
                animation: updown-about .5s ease-in-out infinite alternate-reverse;
            }
            @keyframes updown-about{
                from{
                    top: 15px;
                }to{
                    top:20px;
                }
            }
        }
    }
}
.feedback{
    width: 100%;
    .form{
        width: 100%;
        background-color: rgb(230, 230, 230);
        form{
            padding: 2em 1em;
            margin: 0 auto;
            width: 650px;
            h1{
                color: $theme-color2;

            }
            input, select, textarea{
                border: none;
                outline: none;
                padding: 15px;
                font-size: 1em;
                border-radius: 0px;
                transition: .3s ease-in-out;
            }
            textarea{
                resize: none;
                margin-top: 10px;
                width: 605px;
                height: 180px;
                font-size: 1.1em;
            }
            .form-name{
                width: 300px;
                margin: 10px 0;
            }
            input[type=email]{
                width: 605px;
                margin-bottom: 10px;
            }
            input[type=text]{
                margin-top:20px;
            }
            input[type=submit]{
                padding: 10px 20px;
                background-color: $theme-color1;
                color: white;
                font-weight: bold;
                font-size: 1.3em;
                text-align: left;
                width: 605px;
                cursor: pointer;
                margin: 20px 0;
                &:hover{
                    text-decoration: underline;
                    background-color: $theme-color1-hover;
                }
            }
            
        }
    }
}

@mixin ib {
    .info-box{
        height: 100%;
        width: 30%;
        float: left;
        position: relative;
        h3{
            font-weight: 300;
            margin-left: 50px;
            margin-top: 130px;
        }
        h2{
            font-size: 35px;
            margin-left: 50px;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
        color: $theme-color2;

            &::after{
                content: '';
                display: block;
                width: 30%;
                height: 10px;
                background-color: $theme-color1;
                margin-top: 20px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin-top: 50px;
            margin-left: 50px;
            font-family: 'Playfair Display', serif;
        }
        h4{
            font-size: 18px;
            margin-left: 50px;
            margin-top: 50px;
            color: $theme-color1;
            cursor: pointer;
            float: left;
            &:hover{
                color: $theme-color1-hover;
            }
        }
    }
}

.sec{
    @include ib();
    .more-icon{
        height: 20px;
        width: 20px;
        margin-top: 50px;
        margin-left: 10px;
        float: left;
        filter: invert(0%);
    }
    .down-btn{
        // margin-top: 100px;
        // margin-left: 50px;
        position: absolute;
        left: 50px;
        top:550px;
        height: 50px;
        width: 50px;
        @include flex-center();
        border: 2px solid $theme-color1;
        border-radius: 50%;
        transition: background-color .3s ease-in-out;
        &:hover{
            background-color: $theme-color1;
            img{
                filter: invert(100%);
            }
        }
    }
    .section-img{
        width: 70%;
        height: 100%;
        position: relative;
        float: left;
        overflow: hidden;
        @include flex-center();
        background-image: $theme-gradient;
        img{
            position: absolute;
            z-index: -1;
        }
        .box{
            @extend .box;
            display: flex;
            justify-content: start;
            align-items: start;
            padding: 3em;
            h1{
                font-size: 6em;

            }
        }
    
    }
}

.newsletter{
    height: 30vh;
    @include flex-center();
    flex-direction: column;
    background-color: $theme-color2;
    h1{
        color: white;
        font-size: 30px;
    }
    form{
        width: 100%;
        @include flex-center();
        input[type=email]{
            margin-top: 30px;
            border: none;
            background:none;
            padding: 10px 0px;
            color: white;
            width: 40%;
            border-bottom: 1px solid white;
            font-size: 16px;
            outline: none;
            &::placeholder{
                color: white;
                font-size: 16px;
                font-weight: normal;
            }
        }
        input[type=submit]{
            border: 2px solid black;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color:transparent;
            margin-top: 15px;
            margin-left: 40px;
            background-image: url(../imgs/icons/icons8-more-than-50.png);
            filter: invert(100%);
            background-size: contain;
            cursor: pointer;
            outline: none;
        }
    }
}

footer{
    height: 20vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    #left{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 50px;
        float: left;
        a{
            color: black;
            padding: 10px 20px;
            transition: color .2s ease-in-out;
            &:hover{
                border-bottom: 1px solid $theme-color1;
                // text-decoration: underline;
                color: $theme-color1;
            }
        }
    }
    #right{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 50px;
        float: right;
        a{
            @include flex-center();
            padding: 10px;
            margin: 40px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}

div[class*='-icon'], div[class*='-btn']{
    cursor: pointer;
}
section[class*='-sec']{
    overflow: hidden;
}

.intro-sec{
    height: 90vh;
    width: 100%;
    position: relative;
    top: 10vh;
    @include flex-center();
    margin-bottom: 10vh;
    background-image: $theme-gradient;
    img{
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .box{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        // padding: 2.5em 3em;
        position: relative;
        height: 70vh;
        width: 90%;
        animation: box-expand2 1.5s ease-in-out forwards;
        h1{
            font-size: 6.5em;
            margin-left: 50px;
            margin-top: 30px;
        }
        h2{
            font-size: 3.5em;
            font-weight: 500;
            margin-left: 50px;

        }
        h3{
            position: absolute;
            font-size: 2em;
            // margin-top: 30vh;
            margin-left: 50px;
            top: 85%;
        }
    }
}

@keyframes box-expand2{
    0%{
        height: 0;
        width: 0;
    }
    15%{
        height: 0;
        width: 0;
    }
    50%{
        height: 70vh;
        width: 0;
    }
    100%{
        height: 70vh;
        width: 90%;
    }
}

