@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");

.box, .header-sec header .box, .sec .section-img .box {
  border: 3px solid white;
  position: relative;
  height: 80vh;
  width: 90%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Montserrat', sans-serif;
}

video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#root {
  width: 100%;
  height: auto;
}

.d-navbar {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: fixed;
  top: -20vh;
  -webkit-transition: top .5s;
  transition: top .5s;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 8px rgba(153, 153, 153, 0.4);
          box-shadow: 0 2px 8px rgba(153, 153, 153, 0.4);
}

.d-navbar #logo {
  height: 10vh;
  width: 396px;
  background-color: #18c0d6;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-navbar nav ul .nav-link {
  margin-left: 30px;
}

.d-navbar nav ul li a {
  color: black;
}

.d-navbar .menu-icon {
  -webkit-filter: none;
          filter: none;
}

.d-navbar .enq-icon img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.d-navbar .dropdown ul li:hover a {
  color: white;
}

.header-sec {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.header-sec video {
  width: 100%;
}

.header-sec .menu-icon {
  height: 20px;
  width: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.header-sec header {
  height: 80vh;
  width: 100%;
}

.header-sec header .box, .header-sec header .sec .section-img .box, .sec .section-img .header-sec header .box {
  -webkit-animation: box-expand 1.5s ease-in-out forwards;
          animation: box-expand 1.5s ease-in-out forwards;
}

.header-sec header .box h1, .header-sec header .sec .section-img .box h1, .sec .section-img .header-sec header .box h1 {
  text-transform: uppercase;
  font-size: 8em;
  letter-spacing: 10px;
  font-weight: 700;
}

.header-sec header .box h2, .header-sec header .sec .section-img .box h2, .sec .section-img .header-sec header .box h2 {
  font-size: 2em;
  position: relative;
  top: 50px;
  letter-spacing: 2px;
}

.header-sec header .box .down-icon {
  position: relative;
  height: 24px;
  width: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  top: 70px;
  -webkit-animation: updown 1.5s ease-in-out infinite;
          animation: updown 1.5s ease-in-out infinite;
}

@-webkit-keyframes box-expand {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 0;
  }
  50% {
    height: 100%;
    width: 0;
  }
  100% {
    height: 100%;
    width: 90%;
  }
}

@keyframes box-expand {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 0;
  }
  50% {
    height: 100%;
    width: 0;
  }
  100% {
    height: 100%;
    width: 90%;
  }
}

@-webkit-keyframes updown {
  0% {
    top: 70px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 70px;
  }
}

@keyframes updown {
  0% {
    top: 70px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 70px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  height: 10vh;
  width: 90%;
  margin-left: 5%;
}

nav .nav-links {
  float: left;
  width: 50%;
  height: 100%;
}

nav .nav-links .menu-icon {
  height: 20px;
  width: 20px;
}

nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-right: 40px;
  padding: 10px 0px;
  cursor: pointer;
  position: relative;
}

nav ul li::after {
  content: '';
  display: block;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  left: 50%;
  background-color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  color: white;
  font-weight: 300;
}

nav ul li:hover .dropdown {
  opacity: 1;
  pointer-events: all;
  top: 100%;
  left: 0;
}

nav .info {
  float: right;
  width: 50%;
  height: 100%;
}

nav .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .info ul .enq-icon {
  height: 25px;
  width: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

nav .info ul li {
  padding: 0px;
}

.dropdown {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 150%;
  -webkit-box-shadow: 0 0 10px rgba(85, 85, 85, 0.63);
          box-shadow: 0 0 10px rgba(85, 85, 85, 0.63);
  width: 200px;
  height: 300px;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown ul li {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.dropdown ul li::after {
  content: none;
}

.dropdown ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #16a8bb;
  height: 100%;
  width: 100%;
}

.dropdown ul li:hover {
  background-color: #16a8bb;
}

.dropdown ul li:hover a {
  color: white;
}

.sec {
  height: 90vh;
  width: 100%;
  position: relative;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e6e6e6;
}

.about h1 {
  font-size: 1.8em;
}

.about h1::after {
  content: '';
  display: block;
  height: 10px;
  position: relative;
  left: 50%;
  top: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35%;
  background-color: #18c0d6;
}

.about p {
  font-size: 1.1em;
  text-align: center;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  height: 500px;
  width: 60%;
  overflow: hidden;
}

.about .container img {
  width: 40%;
}

.about .container .text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .container .text h1 {
  margin-bottom: 40px;
  font-size: 3em;
}

.about .container .text h1::after {
  top: 20px;
}

.about .container .text h3 {
  margin-top: 40px;
}

.about .container .text h3 a {
  color: #111b24;
}

.about .container .text h3 a:hover {
  text-decoration: underline;
}

.about .container .text .down-btn {
  position: relative;
  height: 50px;
  width: 50px;
  animation: updown-about .5s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes updown-about {
  from {
    top: 15px;
  }
  to {
    top: 20px;
  }
}

@keyframes updown-about {
  from {
    top: 15px;
  }
  to {
    top: 20px;
  }
}

.feedback {
  width: 100%;
}

.feedback .form {
  width: 100%;
  background-color: #e6e6e6;
}

.feedback .form form {
  padding: 2em 1em;
  margin: 0 auto;
  width: 650px;
}

.feedback .form form input, .feedback .form form select, .feedback .form form textarea {
  border: none;
  outline: none;
  padding: 15px;
  font-size: 1em;
  border-radius: 0px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.feedback .form form textarea {
  resize: none;
  margin-top: 10px;
  width: 605px;
  height: 180px;
  font-size: 1.1em;
}

.feedback .form form .form-name {
  width: 300px;
  margin: 10px 0;
}

.feedback .form form input[type=email] {
  width: 605px;
  margin-bottom: 10px;
}

.feedback .form form input[type=text] {
  margin-top: 20px;
}

.feedback .form form input[type=submit] {
  padding: 10px 20px;
  background-color: #18c0d6;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: left;
  width: 605px;
  cursor: pointer;
  margin: 20px 0;
}

.feedback .form form input[type=submit]:hover {
  text-decoration: underline;
  background-color: #16a8bb;
}

.sec .info-box {
  height: 100%;
  width: 30%;
  float: left;
  position: relative;
}

.sec .info-box h3 {
  font-weight: 300;
  margin-left: 50px;
  margin-top: 130px;
}

.sec .info-box h2 {
  font-size: 35px;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.sec .info-box h2::after {
  content: '';
  display: block;
  width: 30%;
  height: 10px;
  background-color: #18c0d6;
  margin-top: 20px;
}

.sec .info-box p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
}

.sec .info-box h4 {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 50px;
  color: #18c0d6;
  cursor: pointer;
  float: left;
}

.sec .info-box h4:hover {
  color: #16a8bb;
}

.sec .more-icon {
  height: 20px;
  width: 20px;
  margin-top: 50px;
  margin-left: 10px;
  float: left;
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.sec .down-btn {
  position: absolute;
  left: 50px;
  top: 550px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #18c0d6;
  border-radius: 50%;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.sec .down-btn:hover {
  background-color: #18c0d6;
}

.sec .down-btn:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.sec .section-img {
  width: 70%;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.sec .section-img img {
  position: absolute;
  z-index: -1;
}

.sec .section-img .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 3em;
}

.sec .section-img .box h1 {
  font-size: 6em;
}

.newsletter {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111b24;
}

.newsletter h1 {
  color: white;
  font-size: 30px;
}

.newsletter form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter form input[type=email] {
  margin-top: 30px;
  border: none;
  background: none;
  padding: 10px 0px;
  color: white;
  width: 40%;
  border-bottom: 1px solid white;
  font-size: 16px;
  outline: none;
}

.newsletter form input[type=email]::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.newsletter form input[type=email]:-ms-input-placeholder {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.newsletter form input[type=email]::-ms-input-placeholder {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.newsletter form input[type=email]::placeholder {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.newsletter form input[type=submit] {
  border: 2px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  margin-top: 15px;
  margin-left: 40px;
  background-image: url(../imgs/icons/icons8-more-than-50.png);
  -webkit-filter: invert(100%);
          filter: invert(100%);
  background-size: contain;
  cursor: pointer;
  outline: none;
}

footer {
  height: 20vh;
  width: 100%;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  float: left;
}

footer #left a {
  color: black;
  padding: 10px 20px;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

footer #left a:hover {
  border-bottom: 1px solid #18c0d6;
  color: #18c0d6;
}

footer #right {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
  float: right;
}

footer #right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 40px;
}

footer #right a img {
  width: 30px;
  height: 30px;
}

div[class*='-icon'], div[class*='-btn'] {
  cursor: pointer;
}

section[class*='-sec'] {
  overflow: hidden;
}

.intro-sec {
  height: 90vh;
  width: 100%;
  position: relative;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.intro-sec img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.intro-sec .box, .intro-sec .header-sec header .box, .header-sec header .intro-sec .box, .intro-sec .sec .section-img .box, .sec .section-img .intro-sec .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  width: 90%;
  -webkit-animation: box-expand2 1.5s ease-in-out forwards;
          animation: box-expand2 1.5s ease-in-out forwards;
}

.intro-sec .box h1, .intro-sec .sec .section-img .box h1, .sec .section-img .intro-sec .box h1 {
  font-size: 6.5em;
  margin-left: 50px;
  margin-top: 30px;
}

.intro-sec .box h2, .intro-sec .sec .section-img .box h2, .sec .section-img .intro-sec .box h2 {
  font-size: 3.5em;
  font-weight: 500;
  margin-left: 50px;
}

.intro-sec .box h3, .intro-sec .sec .section-img .box h3, .sec .section-img .intro-sec .box h3 {
  font-size: 2em;
  margin-top: 30vh;
  margin-left: 50px;
}

@-webkit-keyframes box-expand2 {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 0;
  }
  50% {
    height: 70vh;
    width: 0;
  }
  100% {
    height: 70vh;
    width: 90%;
  }
}

@keyframes box-expand2 {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 0;
  }
  50% {
    height: 70vh;
    width: 0;
  }
  100% {
    height: 70vh;
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */